.QuantityShow {
  background-color: #fff;
  max-width: 1440px;
  margin: 0 auto;
  padding: 50px 0px 20px 0px;
}

.QuantityShow__body {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.current-Page {
  text-decoration: underline;
}
